<li>{{#link-to 'blogpost' blogpost.id}} {{blogpost.title}} {{/link-to}} by {{blogpost.author}} {{update-blogpost blogpost=blogpost update="update"}} <span class="clickable text-danger" {{action 'delete' blogpost}}>x</span></li>
