<h2>We're all about British Male Actors!</h2>

<p>Find out about the movies they star in, why we like them, and if they're hot!</p>

<!-- {{#link-to 'contact'}}Contact Us!{{/link-to}}
<br>
{{#link-to 'index'}}Home{{/link-to}} -->
