<h1>Welcome to Our Sweet Movie Blog About British Male Actors!</h1>

<p>Get It!</p>

<ul>
  {{#each model as |blogpost|}}
    {{post-tile blogpost=blogpost}}
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact Us{{/link-to}}
